let mapleader = " "

"powerline
set guifont=Hack\ 11
set laststatus=2
"highlight matches with last search pattern
set hlsearch
"ignore case in search patterns
set ignorecase
"no ignore case when pattern has uppercase
set smartcase
"message on status line to show current mode
set showmode
"print the line number in front of each line
set number
"show the line number relative to the line with
set relativenumber
"time that is waited for a mapped key sequence
set notimeout ttimeout ttimeoutlen=200

" easy system clipboard copy/paste
vnoremap <A-y> "*y
vnoremap <A-Y> "*Y
vnoremap <A-p> "*p
vnoremap <A-P> "*P
nnoremap <A-y> "*y
nnoremap <A-Y> "*Y
nnoremap <A-p> "*p
nnoremap <A-P> "*P

" tab to %
nnoremap <TAB> %

" Jump to beginning and end of lines easier. From http://vimbits.com/bits/16
nnoremap H ^
nnoremap L $

"Remap U to redo (easier than C-r)
nnoremap U <C-r>

"Acejump"
nnoremap <Leader><Leader> :action AceAction<CR>
