let mapleader = " "

"powerline
set guifont=Hack\ 11
set laststatus=2
"highlight matches with last search pattern
set hlsearch
"ignore case in search patterns
set ignorecase
"no ignore case when pattern has uppercase
set smartcase
"message on status line to show current mode
set showmode
"print the line number in front of each line
set number
"show the line number relative to the line with
set relativenumber
"time that is waited for a mapped key sequence
set notimeout ttimeout ttimeoutlen=200

"Alt + movement in insert mode will move
inoremap <A-h> <C-o>h
inoremap <A-j> <C-o>j
inoremap <A-k> <C-o>k
inoremap <A-l> <C-o>l

" easy system clipboard copy/paste
noremap <Leader>y "*y
noremap <Leader>Y "*Y
noremap <Leader>p "*p
noremap <Leader>P "*P

" Jump to beginning and end of lines easier. From http://vimbits.com/bits/16
nnoremap H ^
nnoremap L $

"Remap U to redo (easier than C-r)
nnoremap U <C-r>

"----- global
"TODO find fix because Comment action isn't working properly..
nnoremap <Leader>; :action CommentByLineComment<CR>
nnoremap <Leader>! :action ActivateTerminalToolWindow<CR>

"TODO IDE SHOULD DEFINE RecentFiles on Control E
"nnoremap <C-e> :action RecentFiles<CR>

nnoremap <Leader>I :action QuickJavaDoc<CR>
nnoremap <Leader>i :action QuickImplementations<CR>
nnoremap <Leader>a :action GotoAction<CR>

"intellij settings
nnoremap <Leader>s :action ShowSettings<CR>

"----- error section
"- also triggers the Error Description popup
nnoremap <Leader>en :action GotoNextError<CR> :action ShowErrorDescription<CR>
nnoremap <Leader>ee :action GotoNextError<CR> :action ShowErrorDescription<CR>
nnoremap <Leader>eN :action GotoPreviousError<CR>:action ShowErrorDescription<CR>
nnoremap <Leader>eE :action GotoPreviousError<CR>:action ShowErrorDescription<CR>

"----- compile
nnoremap <Leader>cf :action Compile<CR>
nnoremap <Leader>cp :action CompileProject<CR>
"----- refactor
nnoremap <Leader>rf :action RenameFile<CR>

"----- find
nnoremap <Leader>fm :action FileStructurePopup<CR>
nnoremap <Leader>ff :action GotoFile<CR>
nnoremap <Leader>fg :action FindInPath<CR>
nnoremap <Leader>fo :action ShowFilePath<CR>
nnoremap <Leader>fi :action GotoImplementation<CR> 
nnoremap <Leader>fsi :action GotoSuperMethod<CR>
nnoremap <Leader>fd :action GotoTypeDeclaration<CR>
nnoremap <Leader>fh :action CallHierarchy<CR>
"----- bookmark
nnoremap <Leader>bb :action ToggleBookmark<CR>
nnoremap <Leader>bB :action ShowBookmarks<CR>

"----- git
"git blame
nnoremap <Leader>gb :action Annotate<CR>
nnoremap <Leader>gc :action Git.Branches<CR>

"----- jump/join/split
nnoremap <Leader>jj :action AceAction<CR>

"----- debug
nnoremap <Leader>dr :action ChooseRunConfiguration<CR>
nnoremap <Leader>dd :action ChooseDebugConfiguration<CR>

"----- breakpoints
nnoremap <Leader>db :action ToggleLineBreakpoint<CR>
nnoremap <Leader>db :action ToggleMethodBreakpoint<CR>
